{{> header}}
	
	<h1> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h1>

	<br/>
	<script>
	console.log({{userProfile}});
	</script>

{{> footer}}